.dashboard {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  height: 545px;
  width: 260px;
  top: 20px;
  left: 20px;
  color: rgb(200, 200, 200);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: block;
}

.dashboard-header {
  position: relative;
  padding: 20px;
}

.dashboard-values {
  position: relative;
  top: 235px;
  transform: translate(0, -50%);
  padding: 20px;
}

.buttons {
  position: absolute;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  height: 115px;
  width: 260px;
  top: 570px;
  left: 20px;
  color: rgb(200, 200, 200);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  display: block;
}

.buttons-header {
  position: relative;
  padding: 20px;
}

.buttons-values {
  position: relative;
  top: 10px;
  transform: translate(0, -50%);
  padding: 20px;
}

.buttons-values a{
  color: rgb(200, 200, 200);
}

.buttons-values a:hover {
  color: black;
  opacity: 1;
}

.input-num{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.input-velocity{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.input-noiseScale{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.input-noiseScale2{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Exo', sans-serif;
}
